body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#userContainer {
    margin-top: 20px;
}

.userCard {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}